<header id="header">
    <!-- Start header left -->
    <div class="header-left">
        <!-- Start offcanvas left: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
        <div class="navbar-minimize-mobile left">
            <i class="fa fa-bars"></i>
        </div>
        <!--/ End offcanvas left -->

        <!-- Start navbar header -->
        <div class="navbar-header">

            <!-- Start brand -->
            <a class="navbar-brand">
                <span translate>GEM COIN</span>
            </a><!-- /.navbar-brand -->
            <!--/ End brand -->

        </div>
        <!-- /.navbar-header -->
        <!--/ End navbar header -->

        <!-- Start offcanvas right: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
        <div class="navbar-minimize-mobile right">
            <i class="fa fa-cog"></i>
        </div>
        <!--/ End offcanvas right -->

        <div class="clearfix"></div>
    </div>
    <!-- /.header-left -->
    <!--/ End header left -->

    <!-- Start header right -->
    <div class="header-right">
        <!-- Start navbar toolbar -->
        <div class="navbar navbar-toolbar">

            <!-- Start left navigation -->
            <ul class="nav navbar-nav navbar-left">

                <!-- Start sidebar shrink -->
                <li class="navbar-minimize">
                    <a href="javascript:void(0);" title="Minimize sidebar">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <!--/ End sidebar shrink -->


            </ul>
            <!-- /.nav navbar-nav navbar-left -->
            <!--/ End left navigation -->
            <div class="btn-group pull-right" style="margin-right: 33px">
                <button type="button" class="btn " style="min-height: 51px">
                    <span style="color: grey">1 GEMC = BTC 0.00012823</span>

                </button>
                <button type="button" class="btn " style="min-height: 51px">
                    <span style="color: grey">1 GEMC = USD 20</span>
                </button>
                <button type="button" class="btn " style="min-height: 51px">
                    <span style="color: grey">1 BTC = USD 17,586.00</span>
                </button>

                <button id="btn-append-to-single-button" type="button" class="btn " style="min-height: 51px">
                    <span style="color: red">Hưng CR</span>
                </button>
            </div>

        </div>
        <!-- /.navbar-toolbar -->
        <!--/ End navbar toolbar -->
    </div>
    <!-- /.header-right -->
    <!--/ End header left -->

</header>
