<div class="modal-content modal-inner" id="modelDialogLoading">
    <div class="modal-heading border-color-them background-color-them">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" translate>Confirmation</h4>
    </div>

    <div class="modal-body">
        <p> {{message | translate}}</p>
    </div>
    <div class="modal-footer text-right">
        <button type="button" class="btn btn-default cancel-button btn-outline border-customer text-customer" ng-click="$dismiss()">
            <span translate>Cancel</span></button>
        <button type="button" class="btn btn-default save-button" ng-click="confirm()">
            <span translate>Confirm</span>
        </button>
    </div>
</div>
