<div class="main-content">
    <div class="main-content-left table" style="display: table;">
        <div id="content-list-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-left">
                        <i class="pe page-header-icon pe-7s-graph3 header-icon-45"></i>
                    </div>
                    <div class="pull-left">
                        <h3 class="m-b-xs">CHECK IN-OUT</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 border-1 p-v-10 coin-log-block">
                    <div class="row margin-0 p-h-10">
                        <div class="col-sm-4 col-sm-offset-4 text-center p-v-30">
                            <button type="button" class="btn btn-accent btn-block btn-deposit btn-check-in-out"
                                    ng-click="checkInOut()">
                                Check in now!
                            </button>
                            <button type="button" class="btn btn-accent btn-block btn-deposit btn-check-in-out"
                                    ng-show="false"
                                    ng-click="checkInOut()">
                                Check out now!
                            </button>
                            <p class="text-warning text-bold p-t-10" style="font-size: 140%">Total : 22</p>
                        </div>
                        <table width="100%" style="line-height: 2" class="table table-striped">
                            <thead class="m-b-10">
                            <tr>
                                <td width="10%" class="table-header-label p-l-15">No</td>
                                <td width="10%" class="table-header-label text-center">Date</td>
                                <td width="25%" class="table-header-label text-center">Check In Time</td>
                                <td width="25%" class="table-header-label text-center">Check Out Time</td>
                                <td width="25%" class="table-header-label text-center">Total</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td width="10%" class="p-l-15">1</td>
                                <td width="10%" class="text-center">17/12/2017</td>
                                <td width="25%" class="text-center">
                                    <i class="fa fa-check text-success"></i>8h30
                                <td width="25%" class="text-center">
                                    --
                                </td>
                                <td width="25%" class="text-center">--</td>
                            </tr>


                            <tr>
                                <td width="10%" class="p-l-15">2</td>
                                <td width="10%" class="text-center">16/12/2017</td>
                                <td width="25%" class="text-center"><i class="fa fa-check text-success"></i>8h30
                                <td width="25%" class="text-center"><i class="fa fa-caret-right text-danger"></i>18:00
                                </td>
                                <td width="25%" class="text-center">1</td>
                            </tr>
                            <tr>
                                <td width="10%" class="p-l-15">3</td>
                                <td width="10%" class="text-center">15/12/2017</td>
                                <td width="25%" class="text-center"><i class="fa fa-check text-success"></i>8h30
                                <td width="25%" class="text-center"><i class="fa fa-caret-right text-danger"></i>18:00
                                </td>
                                <td width="25%" class="text-center">1</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script data-remove="false" data-concat="false">

    var setHeightTimeout;
    var calculateLayoutList = function () {
        if (setHeightTimeout) window.clearTimeout(setHeightTimeout);

        setHeightTimeout = setTimeout(function () {
            var height = $(window).height();
            var fullHeightScroll = function ($ele) {
                if ($ele.length === 0) return;
                $ele.css({
                    height: height - $ele.offset().top,
                    position: 'relative',
                    'overflow-y': 'hidden'
                });
                $ele.perfectScrollbar('update');
            };

            fullHeightScroll($('#content-list-wrapper'));

        });

        $('.coin-log-block').css({height: $(window).height() - $('.coin-log-block').offset().top - 20})
    };

    var initScroll = function ($ele) {
        $ele.perfectScrollbar();
    };

    initScroll($('#content-list-wrapper'));
    initScroll($('#main-content'));
    initScroll($('.scrollingDiv'));


    calculateLayoutList();


    $(document).ready(function () {
        $(window).on('resize', function () {
            calculateLayoutList();

            var height = $(window).height();
            $('body').css('height', height);
        });

    });
</script>
