<div class="main-content">
    <div
        ng-class="$state.includes('users.detail')?'col-lg-7 col-sm-7 col-md-7 main-left':'col-lg-12 col-sm-12 col-md-12 main-left full-width'">
        <div class="header-content">
            <h2>Setting</h2>
        </div>
            <form class="row form-horizontal" style="padding-top: 80px">
                <h3 style="padding-left: 135px;padding-bottom: 20px">Information</h3>
                <div class="form-group">
                    <label for="input" class="col-md-2 control-label">Mails</label>
                    <div class="col-sm-10" style="padding-left: 50px">
                        <input type="text" class="form-control" id="input"
                               placeholder="Your mails">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input1" class="col-md-2 control-label">Country</label>
                    <div class="col-sm-10" style="padding-left: 50px">
                        <input type="text" class="form-control" id="input1"
                               placeholder="YoursCountry">
                    </div>
                </div>
                <h3 style="padding-left: 135px;padding-bottom: 20px">Change Password</h3>
                <div class="form-group">
                    <label for="inputEmail" class="col-md-2 control-label">Your'sEmail</label>
                    <div class="col-sm-10" style="padding-left: 50px">
                        <input type="email" class="form-control" id="inputEmail"
                               placeholder="Please Enter Yours'sEmail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword2" class="col-md-2 control-label">OldPassWord</label>
                    <div class="col-sm-10" style="padding-left: 50px">
                        <input type="password" class="form-control" id="inputPassword2"
                               placeholder="Please Enter Yours' OldPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-md-2 control-label">NewPassword</label>
                    <div class="col-sm-10" style="padding-left: 50px">
                        <input type="password" class="form-control" id="inputPassword3"
                               placeholder="Please Enter Yours'NewPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword4" class="col-md-2 control-label">ReNewPassword</label>
                    <div class="col-sm-10" style="padding-left: 50px">
                        <input type="password" class="form-control" id="inputPassword4"
                               placeholder="Please ReEnter Yours'NewPassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </div>

            </form>
    </div>
    <div class="col-lg-5 col-sm-5 col-md-5  main-right" ui-view="detail" ng-if="$state.includes('users.detail')"></div>
</div>
<script data-remove="false" data-concat="false">

    var setHeightTimeout;
    var calculateLayoutList = function () {
        if (setHeightTimeout) window.clearTimeout(setHeightTimeout);

        setHeightTimeout = setTimeout(function () {
            var height = $(window).height();
            var fullHeightScroll = function ($ele) {
                if ($ele.length === 0) return;
                $ele.css({
                    height: height - $ele.offset().top,
                    position: 'relative',
                    'overflow-y': 'hidden'
                });
                $ele.perfectScrollbar('update');
            };

            fullHeightScroll($('#content-list-wrapper'));

        });
    };

    var initScroll = function ($ele) {
        $ele.perfectScrollbar();
    };

    initScroll($('#content-list-wrapper'));
    initScroll($('#main-content'));
    initScroll($('.scrollingDiv'));


    calculateLayoutList();


    $(document).ready(function () {
        $(window).on('resize', function () {
            calculateLayoutList();

            var height = $(window).height();
            $('body').css('height', height);
        });

    });
</script>
<script type="text/ng-template" id="confirm_delete_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-question"></i> Xoá bản ghi</h4>
        </div>
        <div class="modal-body">
            <p>Bạn có muốn xoá các bản ghi đã chọn không?</p>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Không</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Có</button>
        </div>
    </div>
</script>
