<div class="main-content">
    <div class="main-content-left table" style="display: table;">
        <div id="content-list-wrapper">
            <div class="row m-t-40 ">
                <div class="col-sm-12 border-1 p-v-10">
                    <div class="row margin-0 p-h-10 p-b-20 wallet-block">
                        <h2>My Profile</h2>
                    </div>
                    <div class="row margin-0 p-h-10 p-b-20 wallet-block">
                        <div class="col-xs-6">
                            <label>Username</label>
                            <input type="text" class="form-control" ng-model="username" readonly>
                        </div>
                        <div class="col-xs-6">
                            <label>Email</label>
                            <input type="text" class="form-control" ng-model="username" readonly>
                        </div>
                    </div>
                    <div class="row margin-0 p-h-10 p-b-20 wallet-block">
                        <div class="col-xs-6">
                            <label>Name</label>
                            <input type="text" class="form-control" aria-label="Name" ng-model="name">
                        </div>
                        <div class="col-xs-6">
                            <label>Phone</label>
                            <input type="text" class="form-control" ng-model="phone">
                        </div>
                    </div>
                    <div class="row margin-0 p-h-10 p-b-20 wallet-block">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-accent">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-t-40 ">
                <div class="col-sm-12 border-1 p-v-10 ">
                    <div class="row margin-0 p-h-10 p-b-20 wallet-block">
                        <h2>My Password</h2>
                    </div>
                    <div class="row margin-0 p-h-10 p-b-20 wallet-block">
                        <div class="col-xs-6">
                            <label>Current password</label>
                            <input type="password" class="form-control" ng-model="password">
                        </div>
                        <div class="col-xs-6">
                            <label>New Password</label>
                            <input type="password" class="form-control" ng-model="password">
                        </div>
                    </div>
                    <div class="row margin-0 p-h-10 p-b-20 wallet-block">
                        <div class="col-xs-6">
                            <label>Confirm password</label>
                            <input type="password" class="form-control" ng-model="password">
                        </div>
                    </div>

                    <div class="row margin-0 p-h-10 p-b-20 wallet-block">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-accent">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script data-remove="false" data-concat="false">

    var setHeightTimeout;
    var calculateLayoutList = function () {
        if (setHeightTimeout) window.clearTimeout(setHeightTimeout);

        setHeightTimeout = setTimeout(function () {
            var height = $(window).height();
            var fullHeightScroll = function ($ele) {
                if ($ele.length === 0) return;
                $ele.css({
                    height: height - $ele.offset().top,
                    position: 'relative',
                    'overflow-y': 'hidden'
                });
                $ele.perfectScrollbar('update');
            };

            fullHeightScroll($('#content-list-wrapper'));

            $('.coin-log-block').css({height: $(window).height() - $('.coin-log-block').offset().top - 20})

        });
    };

    var initScroll = function ($ele) {
        $ele.perfectScrollbar();
    };

    initScroll($('#content-list-wrapper'));
    initScroll($('#main-content'));
    initScroll($('.scrollingDiv'));


    calculateLayoutList();


    $(document).ready(function () {
        $(window).on('resize', function () {
            calculateLayoutList();

            var height = $(window).height();
            $('body').css('height', height);
        });

    });
</script>
