<div class="main-content">
    <div class="main-content-left table" style="display: table;">
        <div id="content-list-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-left">
                        <i class="pe page-header-icon pe-7s-graph3 header-icon-45"></i>
                    </div>
                    <div class="pull-left">
                        <h3 class="m-b-xs">Voting</h3>
                    </div>
                </div>
            </div>
            <div class="coin-log-block">
                <div class="row padding-right">
                    <div class="col-md-4 p-t-20"
                         ng-repeat="staff in staffList track by $index"
                         ng-if="$index < 8 && user.id != staff.id">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center" style="padding-bottom: 60px">
                                    <img style="width: 350px;height: 262px" class="img-thumbnail"
                                         src="assets/img/{{6-($index%6)}}.jpg"
                                         alt=""/>
                                    <p class="p-t-10">
                                    <span class="text-warning text-bold"
                                          style="font-size: 130%">{{staff.name}}</span><br>
                                        <span class="text-warning">(Total votes: {{staff.numberVote}})</span>
                                    </p>
                                    <a class="btn btn-warning vote-button" ng-click="vote(staff)">Vote</a>
                                </div>
                            </div>
                        </div><!--features_items-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-remove="false" data-concat="false">

    var setHeightTimeout;
    var calculateLayoutList = function () {
        if (setHeightTimeout) window.clearTimeout(setHeightTimeout);

        setHeightTimeout = setTimeout(function () {
            var height = $(window).height();
            var fullHeightScroll = function ($ele) {
                if ($ele.length === 0) return;
                $ele.css({
                    height: height - $ele.offset().top,
                    position: 'relative',
                    'overflow-y': 'hidden'
                });
                $ele.perfectScrollbar('update');
            };

            fullHeightScroll($('#content-list-wrapper'));

        });

        $('.coin-log-block').css({height: $(window).height() - $('.coin-log-block').offset().top - 20})
    };

    var initScroll = function ($ele) {
        $ele.perfectScrollbar();
    };

    initScroll($('#content-list-wrapper'));
    initScroll($('#main-content'));
    initScroll($('.scrollingDiv'));


    calculateLayoutList();


    $(document).ready(function () {
        $(window).on('resize', function () {
            calculateLayoutList();

            var height = $(window).height();
            $('body').css('height', height);
        });
        $(".btn").click(function () {
            $("#myModal").modal('show');
        });

    });
</script>
</div>
