<div class="main-content">
    <div ng-class="$state.includes('users.detail')?'col-lg-7 col-sm-7 col-md-7 main-left':'col-lg-12 col-sm-12 col-md-12 main-left full-width'">
        <div class="header-content">
                <h2>VOTING</h2>
        </div>
        <div class="row padding-right" style="padding-top: 50px ;padding-bottom: 40px">
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center" style="padding-bottom: 60px">
                            <img style="width: 350px;height: 262px" class="img-thumbnail"
                                 src="../../assets/global/img/servicesImg/18620513_657553817772071_3449373426362004409_o.jpg" alt=""/>
                            <p style="padding-top: 10px" class="text-warning">Voted:56</p>
                            <p  class="text-muted">Tutd</p>
                            <a href="#" class="btn btn-warning add-to-card"><i class="fa fa-check"></i>Vote</a>
                        </div>
                    </div>
                </div><!--features_items-->
            </div>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center" style="padding-bottom: 60px">
                            <img style="width: 350px;height: 262px" class="img-thumbnail"
                                 src="../../assets/global/img/servicesImg/20258415_1454640911294769_3704251650746601586_n.jpg" alt=""/>
                            <p style="padding-top: 10px" class="text-warning">Voted:56</p>
                            <p class="text-muted">linhdt</p>
                            <a href="#" class="btn btn-warning add-to-card"><i class="fa fa-check"></i>Vote</a>
                        </div>
                    </div>
                </div><!--features_items-->
            </div>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center" style="padding-bottom: 60px">
                            <img style="width: 350px;height: 262px" class="img-thumbnail"
                                 src="../../assets/global/img/servicesImg/21728596_1428832210558332_5417416075956482384_o.jpg" alt=""/>
                            <p style="padding-top: 10px" class="text-warning">Voted:56</p>
                            <p class="text-muted">hungcr</p>
                            <a href="#" class="btn btn-warning add-to-card"><i class="fa fa-check"></i>Vote</a>
                        </div>
                    </div>
                </div><!--features_items-->
            </div>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center" style="padding-bottom: 60px">
                            <img style="width: 350px;height: 262px" class="img-thumbnail"
                                 src="../../assets/global/img/servicesImg/22450137_752401234943981_6732089631050504319_n.jpg" alt=""/>
                            <p style="padding-top: 10px" class="text-warning">Voted:56</p>
                            <p  class="text-muted">quangdz</p>
                            <a href="#" class="btn btn-warning add-to-card"><i class="fa fa-check"></i>Vote</a>
                        </div>
                    </div>
                </div><!--features_items-->
            </div>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center" style="padding-bottom: 60px">
                            <img style="width: 350px;height: 262px" class="img-thumbnail"
                                 src="../../assets/global/img/servicesImg/24291884_947967378702612_3943799165548503161_o.jpg" alt=""/>
                            <p style="padding-top: 10px" class="text-warning">Voted:56</p>
                            <p  class="text-muted">luongpv</p>
                            <a href="#" class="btn btn-warning add-to-card"><i class="fa fa-check"></i>Vote</a>
                        </div>
                    </div>
                </div><!--features_items-->
            </div>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center" style="padding-bottom: 60px">
                            <img style="width: 350px;height: 262px" class="img-thumbnail"
                                 src="../../assets/global/img/servicesImg/24993214_1523880867719979_1249729293420217853_n.jpg" alt=""/>
                            <p style="padding-top: 10px" class="text-warning">Voted:56</p>
                            <p  class="text-muted">tiennv</p>
                            <a href="#" class="btn btn-warning add-to-card"><i class="fa fa-check"></i>Vote</a>
                        </div>
                    </div>
                </div><!--features_items-->
            </div>


            <div class="col-lg-5 col-sm-5 col-md-5  main-right" ui-view="detail"
                 ng-if="$state.includes('users.detail')"></div>
        </div>
        <!--<script>-->
        <!--$('.item-wrapper').hover(function () {-->
        <!--// Change css on hover .. this could be done also by changing class-->
        <!--$(this).css({'border':'2px solid #880088'});-->
        <!--$(this).find(".item-actions").slideDown("fast");-->
        <!--}, function(){-->
        <!--$(this).css({'border':'2px solid #fff'});-->
        <!--$(this).find(".item-actions").slideUp("fast");-->
        <!--});-->
        <!--</script>-->
        <script data-remove="false" data-concat="false">
            function showDetail(id) {
//$('.customer-list').css('background-color', '');
//$('#' + id).css('background-color', '#dddddd');
                var campaignElement = $('.customer-list');
                campaignElement.each(function () {
                    if ($(this).hasClass('background-selected')) {
                        $(this).removeClass('background-selected');
                    }
                });
                $('#' + id).addClass('background-selected');
            }

            var setHeightTimeout;
            var calculateLayoutList = function () {
                if (setHeightTimeout) window.clearTimeout(setHeightTimeout);

                setHeightTimeout = setTimeout(function () {
                    var height = $(window).height();
                    var fullHeightScroll = function ($ele) {
                        if ($ele.length === 0) return;
                        $ele.css({
                            height: height - $ele.offset().top,
                            position: 'relative',
                            'overflow-y': 'hidden'
                        });
                        $ele.perfectScrollbar('update');
                    };

                    fullHeightScroll($('#content-list-wrapper'));

                });
            };

            var initScroll = function ($ele) {
                $ele.perfectScrollbar();
            };

            initScroll($('#content-list-wrapper'));
            initScroll($('#main-content'));
            initScroll($('.scrollingDiv'));


            calculateLayoutList();


            $(document).ready(function () {
                $(window).on('resize', function () {
                    calculateLayoutList();

                    var height = $(window).height();
                    $('body').css('height', height);
                });

            });
        </script>
        <script type="text/ng-template" id="confirm_delete_modal.html">
            <div modal-movable>
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
                    <h4 class="modal-title"><i class="icon-question"></i> Xoá bản ghi</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn có muốn xoá các bản ghi đã chọn không?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Không
                    </button>
                    <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Có
                    </button>
                </div>
            </div>
        </script>
    </div>
</div>
