<div class="modal-content modal-innerid">
    <div class="modal-heading wallet-block">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" translate>Buy service</h4>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-top: 10px">
            <div class="col-sm-4">
                <p style="font-size: 20px;">{{service.name}}</p>
            </div>
            <div class="col-sm-4 text-center" style="font-size: 20px">
                <i class="fa fa-minus-circle text-danger"  style="font-size: 25px" ng-click="minusAmount()"></i>
                &nbsp;&nbsp;
                {{buy.amount}}
                &nbsp;&nbsp;
                <i class="fa fa-plus-circle text-success"  style="font-size: 25px"  ng-click="plusAmount()"></i>
            </div>
            <div class="col-sm-4 text-center">
                <p style="font-size: 20px;">{{buy.amount * service.price}} $</p>

            </div>
        </div>
    </div>
    <div class="modal-footer" style="background: white">
        <button type="button" class="btn btn-primary close-btn btn-outline save-button"  ng-click="buyService()">
            <span translate>Xác nhận</span>
        </button>
        <button type="button" class="btn btn-default close-btn btn-outline" ng-click="$dismiss()">
            <span translate>Close</span>
        </button>
    </div>
</div>
